.home-footer-container{
    display: flex;
}
.home-container{
    padding-left: 20px;
}
.home2-footer{
    margin-top: 25px;
    padding-left: 100px;
}
.link4{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}
.link4 h3{
    font-size: 25px;
}
.home4-footer{
    margin-top: 25px;
    padding-left: 100px;
}
.home5-footer{
    margin-top: 25px;
    padding-left: 100px;
}

