.QR-Middle{
    width: 100%;
    height: 100%;
   padding-left: 23px;
}
.Promotab-content{
    padding-left: 30px;
}
.Home-Promotab{
    padding-left: 133px;
    display: flex;
}
.Promotab1-content{
    padding-right: 50px;
}
.Promotab2-content{
padding-right: 50px;
}
.text5{
    margin-top: 100px;
    text-align: center;
}
.khachhangthanquen{
    display: flex;
}
.khach1{
    padding-left: 100px;
    margin-top: 10px;
}
.khach2{
    padding-left: 100px;
}
.khach3{
    padding-left: 100px;
}
.khach4{
    padding-left: 100px;
    margin-top: 15px;
}
.khach5{
    padding-left: 100px;
}
.khach6{
    text-align: center;
}






